@require "normalizecss/normalize.css"
@require "./base"
@require "./user"


$primary = #edece0
.slide1
    background-color:$primary
    color: black
    justify-content center
    position: absolute
    padding-top: 0;
.slide1 h1
    text-align :center;
ul.build li span 
    font-weight :bold;
.tag
    margin-top 10%
    border :3px dotted #979797
    color #4262ab
    border-radius: 10px
    padding : 10px
    font-weight bold
    font-size 35pt
.title
    border-left: 10px solid $primary
    margin-bottom: 0
    padding-left: 10px
    
.colorslide
    background-color: #edece0
    
.fontmil
    font-family: milliard; src:url(Rene%20Bieder%20%20Milliard%20Medium.otf)
    